[submodule "runtime/vim-quickrun"]
	path = runtime/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "runtime/vim-ref"]
	path = runtime/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule "runtime/nerdtree"]
	path = runtime/nerdtree
	url = git://github.com/scrooloose/nerdtree
[submodule "runtime/neocomplcache"]
	path = runtime/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "runtime/vim-ref-gtkdoc"]
	path = runtime/vim-ref-gtkdoc
	url = git://github.com/eiiches/vim-ref-gtkdoc.git
[submodule "runtime/metarw-git"]
	path = runtime/metarw-git
	url = git://github.com/kana/vim-metarw-git.git
[submodule "runtime/vim-metarw"]
	path = runtime/vim-metarw
	url = git://github.com/kana/vim-metarw.git
[submodule "runtime/vim-git-branch-info"]
	path = runtime/vim-git-branch-info
	url = git://github.com/taq/vim-git-branch-info.git
[submodule "runtime/vim-surround"]
	path = runtime/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "runtime/unite.vim"]
	path = runtime/unite.vim
	url = git://github.com/Shougo/unite.vim.git
[submodule "runtime/vimshell"]
	path = runtime/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "runtime/vimproc"]
	path = runtime/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "runtime/zencoding-vim"]
	path = runtime/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "runtime/argtextobj.vim"]
	path = runtime/argtextobj.vim
	url = git://github.com/vim-scripts/argtextobj.vim.git
[submodule "runtime/drawit"]
	path = runtime/drawit
	url = git://github.com/vim-scripts/DrawIt.git
[submodule "runtime/align"]
	path = runtime/align
	url = git://github.com/vim-scripts/Align.git
[submodule "runtime/srcexpl.vim"]
	path = runtime/srcexpl.vim
	url = git://github.com/vim-scripts/Source-Explorer-srcexpl.vim.git
[submodule "runtime/vimwiki"]
	path = runtime/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "runtime/localrc"]
	path = runtime/localrc
	url = git://github.com/thinca/vim-localrc.git
[submodule "runtime/matchit"]
	path = runtime/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "runtime/matchit_python"]
	path = runtime/matchit_python
	url = git://github.com/vim-scripts/python_match.vim.git
[submodule "runtime/easymotion"]
	path = runtime/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "runtime/omnicppcomplete"]
	path = runtime/omnicppcomplete
	url = git://github.com/vim-scripts/OmniCppComplete.git
[submodule "runtime/vim-altr"]
	path = runtime/vim-altr
	url = git://github.com/kana/vim-altr.git
[submodule "runtime/javacomplete"]
	path = runtime/javacomplete
	url = git://github.com/vim-scripts/javacomplete.git
