[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/vim-ref-gtkdoc"]
	path = bundle/vim-ref-gtkdoc
	url = git://github.com/eiiches/vim-ref-gtkdoc.git
[submodule "bundle/argtextobj.vim"]
	path = bundle/argtextobj.vim
	url = git://github.com/vim-scripts/argtextobj.vim.git
[submodule "bundle/drawit"]
	path = bundle/drawit
	url = git://github.com/vim-scripts/DrawIt.git
[submodule "bundle/srcexpl.vim"]
	path = bundle/srcexpl.vim
	url = git://github.com/vim-scripts/Source-Explorer-srcexpl.vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/matchit_python"]
	path = bundle/matchit_python
	url = git://github.com/vim-scripts/python_match.vim.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/omnicppcomplete"]
	path = bundle/omnicppcomplete
	url = git://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = git://github.com/vim-scripts/javacomplete.git
[submodule "bundle/tex.vim"]
	path = bundle/tex.vim
	url = git://github.com/vim-scripts/tex.vim--Tanzler.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/eiiches/vim-css-color.git
[submodule "bundle/errormarker"]
	path = bundle/errormarker
	url = git://github.com/vim-scripts/errormarker.vim.git
[submodule "bundle/unite-history"]
	path = bundle/unite-history
	url = git://github.com/thinca/vim-unite-history.git
[submodule "bundle/unite-help"]
	path = bundle/unite-help
	url = git://github.com/tsukkee/unite-help.git
[submodule "bundle/vim-colored-colorscheme"]
	path = bundle/vim-colored-colorscheme
	url = git://github.com/eiiches/vim-colored-colorscheme.git
[submodule "bundle/vim-alignta"]
	path = bundle/vim-alignta
	url = git://github.com/h1mesuke/vim-alignta.git
[submodule "bundle/rainbowbrackets"]
	path = bundle/rainbowbrackets
	url = git://github.com/eiiches/vim-rainbowbrackets.git
[submodule "bundle/colorconvert.vim"]
	path = bundle/colorconvert.vim
	url = git://github.com/eiiches/vim-colorconvert.git
[submodule "bundle/unite-colorscheme"]
	path = bundle/unite-colorscheme
	url = git://github.com/ujihisa/unite-colorscheme.git
[submodule "bundle/current-func-info"]
	path = bundle/current-func-info
	url = git://github.com/tyru/current-func-info.vim.git
[submodule "bundle/unite-tselect"]
	path = bundle/unite-tselect
	url = git://github.com/eiiches/unite-tselect.git
[submodule "bundle/neocomplcache-snippets-complete"]
	path = bundle/neocomplcache-snippets-complete
	url = git://github.com/Shougo/neocomplcache-snippets-complete.git
[submodule "bundle/vim-ref-info"]
	path = bundle/vim-ref-info
	url = git://github.com/eiiches/vim-ref-info.git
[submodule "neobundle.vim"]
	path = neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
