[submodule "runtime/vim-quickrun"]
	path = runtime/vim-quickrun
	url = http://github.com/thinca/vim-quickrun.git
[submodule "runtime/vim-ref"]
	path = runtime/vim-ref
	url = http://github.com/thinca/vim-ref.git
[submodule "runtime/nerdtree"]
	path = runtime/nerdtree
	url = git://github.com/scrooloose/nerdtree
[submodule "runtime/neocomplcache"]
	path = runtime/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "runtime/vim-ref-gtkdoc"]
	path = runtime/vim-ref-gtkdoc
	url = git@github.com:eiiches/vim-ref-gtkdoc.git
